<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376443835-6fbobh1b88pm4h7t2p9h3ofogtsn7509.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376443835-6fbobh1b88pm4h7t2p9h3ofogtsn7509</string>
	<key>API_KEY</key>
	<string>AIzaSyCHKYGRxvr5G68-76jFr-6uk4EqWNolZMo</string>
	<key>GCM_SENDER_ID</key>
	<string>376443835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>David.ChatApp2</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c84b9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c84b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376443835:ios:5b6a08d850ca031a886a9e</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-c84b9.firebaseio.com</string>
</dict>
</plist>